*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/.idea
/app/libs/**
node_modules/**
/app/src/main/assets/vexflow-min.js
app/src/main/assets/armeabi-v7a_ffmpeg
app/src/main/assets/armeabi-v7a-neon_ffmpeg
app/src/main/assets/x86_ffmpeg